<div>
    
    <form [formGroup]="productRef" (ngSubmit)="storeProduct()">
        <label>PId</label>
        <input type="number" name="_id" formControlName="_id"/><br/>
        <label>PName</label>
        <input type="text" name="pname" formControlName="pname"/><br/>
        <label>Price</label>
        <input type="number" name="price" formControlName="price"/><br/>
        <label>URL</label>
        <input type="url" name="url" formControlName="url"/><br/>
        <input type="submit" value="store product"/>
        <input type="reset" value="reset"/>
    </form>
    <span style="color:red">{{storeMsg}}</span>
    <hr/>

    <div>
    <div *ngFor="let product of products" style="display: inline-block;border: 1px solid red;margin: 10px;">
        <img src={{product.url}} width="100px" height="100px"/>
        <br/>
        <div>
            <span>PName :{{product.pname}}<br/> Price : {{product.price}}</span><br/>
            <input type="button" value="delete rec" (click)="deleteRec(product._id)"/>
        </div>
    </div>
    </div>
</div>